<div class="main-container">
    <div class="comments-header">
        Comments({{comments?.length}})
    </div>
    <div class="comments-container" *ngIf="!isReadOnly()">
        <div class="text-area-container">
            <md-input-container class="full-width">
                <input mdInput placeholder="Add a comment" [(ngModel)]="message" (keyup.enter)="add()" (keyup.esc)="clear()">
            </md-input-container>
        </div>
    </div>
    <div class="comments-container" *ngFor="let comment of comments">
        <div class="img-container">
            <div class="user-image">
                <div *ngIf="findProfilePicture(comment.createdBy); then profile else name"></div>
                <ng-template #profile>
                    <img class="user-image" [src]="'data:image/png;base64,' + findProfilePicture(comment.createdBy)">
                </ng-template>
                <ng-template #name>{{getUserShortName(comment)}}</ng-template>
            </div>
            
        </div>
        <div class="comment-contents">
            <div class="user-name">
                {{comment?.createdBy?.firstName}} {{comment?.createdBy?.lastName}}
            </div>
            <div class="message">
                {{comment?.message}}
            </div>
            <div class="message-time">
                {{transformDate(comment?.created)}}
            </div>
        </div>
    </div>
<!--    
        <div *ngFor="let comment of comments">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar>{{getUserShortName(comment)}}</div>
                    <md-card-title>{{comment?.createdBy?.firstName}} {{comment?.createdBy?.lastName}}</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <p>{{comment?.message}}</p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </div>-->
</div>
